force-app/main/default/flows/Account_BelowInsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_Art_Approval_Email</name>
        <label>Set Art Approval Email</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.Art_Approval_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Lead_Info.Email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Billing_Email</name>
        <label>Set Billing Email</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Billing_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Lead_Info.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_ArtEmail_Blank</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_ArtEmail_Blank</name>
        <label>Is Art Email Blank?</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <defaultConnectorLabel
    >Art Approval Email is Populated</defaultConnectorLabel>
        <rules>
            <name>Art_Approval_Email_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Art_Approval_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Art_Approval_Email</targetReference>
            </connector>
            <label>Art Approval Email is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_BillingEmail_Null</name>
        <label>Is Billing Email Blank?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Decision_ArtEmail_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Billing Email Populated</defaultConnectorLabel>
        <rules>
            <name>Billing_Email_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Billing_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Billing_Email</targetReference>
            </connector>
            <label>Billing Email is Blank</label>
        </rules>
    </decisions>
    <interviewLabel>Set Account Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account_BelowInsert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Lead_Info</name>
        <label>Fetch Lead Info</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_BillingEmail_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Lead_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
