force-app/main/default/flows/Order_Update_YTD.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Total_Values</name>
        <label>Total Values</label>
        <locationX>402</locationX>
        <locationY>444</locationY>
        <assignmentItems>
            <assignToReference>VarTotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Loop_Orders.Invoice_Total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTotalPaid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Loop_Orders.Amount_Received__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Orders</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <expression>DATE (Year ( {!$Flow.CurrentDate} ), 12,31 )</expression>
    </formulas>
    <formulas>
        <name>YearStartDate</name>
        <dataType>Date</dataType>
        <expression>DATE (Year ( {!$Flow.CurrentDate} ), 01,01 )</expression>
    </formulas>
    <interviewLabel>Order Update YTD {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Update YTD</label>
    <loops>
        <name>Loop_Orders</name>
        <label>Loop Orders</label>
        <locationX>163</locationX>
        <locationY>465</locationY>
        <collectionReference>CollectionAccountOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Work_Orders</name>
        <label>Get Work Orders</label>
        <locationX>178</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTestAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>YearStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>09_-_Complete</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>CollectionAccountOrders</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Invoice_Total__c</queriedFields>
        <queriedFields>Amount_Received__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>403</locationX>
        <locationY>282</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>YTD_Total_Work_Order_Value_Paid__c</field>
            <value>
                <elementReference>VarTotalPaid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>YTD_Total_Work_Order_Values__c</field>
            <value>
                <elementReference>VarTotalAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Work_Orders</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CollectionAccountOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>varTestAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarTotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VarTotalPaid</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
