force-app/main/default/flows/Update_Work_Order_Stage_Waiting_for_blanks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Confirmed_False</name>
        <label>Set Confirmed False</label>
        <locationX>512</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>confirmedByandOn</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_POs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Confirmed_True</name>
        <label>Set Confirmed True</label>
        <locationX>248</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>confirmedByandOn</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_POs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_False</name>
        <label>Set Status False</label>
        <locationX>776</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>StatusValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_POs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_True</name>
        <label>Set Status True</label>
        <locationX>248</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>StatusValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Confirmed_True</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Value_as_True_1</name>
        <label>Status Value as True</label>
        <locationX>1194</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>StatusValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>True</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_POs_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Value_as_true_2</name>
        <label>Status Value as true</label>
        <locationX>1810</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>StatusValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>True</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_POs_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_status_of_PO</name>
        <label>Check status of PO</label>
        <locationX>600</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Set_Status_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Loop_all_POs.WO_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isConfirmed</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_of_PO_1</name>
        <label>Check Status of PO</label>
        <locationX>1326</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>InProduction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Loop_all_POs_1.WO_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Value_as_True_1</targetReference>
            </connector>
            <label>InProduction</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_of_PO_2</name>
        <label>Check Status of PO</label>
        <locationX>1942</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Not_complete_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference
        >Loop_all_POs_2.WO_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for TP Pickup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Loop_all_POs_2.WO_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Loop_all_POs_2.WO_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received at QC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Loop_all_POs_2.WO_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready to Ship/Pickup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Value_as_true_2</targetReference>
            </connector>
            <label>Not complete?</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_In_Production</name>
        <label>is In Production?</label>
        <locationX>1480</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference
      >is_In_RTP_Shipped_Received_or_Ready_to_ship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>In_production</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WO_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_POs_for_WOs_1</targetReference>
            </connector>
            <label>In production</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_In_RTP_Shipped_Received_or_Ready_to_ship</name>
        <label>Is In RTP, Shipped, Received or Ready to ship?</label>
        <locationX>1854</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Not_complete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WO_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for TP Pickup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WO_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WO_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received at QC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WO_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready to Ship/Pickup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_POs_for_WOs_2</targetReference>
            </connector>
            <label>Not complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Sent</name>
        <label>is Sent?</label>
        <locationX>864</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>is_In_Production</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WO_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_POs_for_WOs</targetReference>
            </connector>
            <label>Sent</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is confirmedOn and confirmedBy filled?</description>
        <name>isConfirmed</name>
        <label>isConfirmed</label>
        <locationX>424</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Set_Confirmed_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Confirmed</defaultConnectorLabel>
        <rules>
            <name>Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Loop_all_POs.PO_Confirmed_On__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Loop_all_POs.PO_Confirmed_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_all_POs</targetReference>
            </connector>
            <label>Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Only_Sent_or_Confirmed</name>
        <label>Only Sent or Confirmed</label>
        <locationX>248</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>Only_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Only Sent</defaultConnectorLabel>
        <rules>
            <name>Check_Status_and_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StatusValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>confirmedByandOn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Update_WO_stage_In_Production_for_Sent</targetReference>
            </connector>
            <label>Check Status and Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Only_Status</name>
        <label>Only Status</label>
        <locationX>446</locationX>
        <locationY>1703</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_True_Confirmed_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StatusValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>confirmedByandOn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_stage_WFB</targetReference>
            </connector>
            <label>Status True Confirmed False</label>
        </rules>
    </decisions>
    <description>Version - 17</description>
    <interviewLabel
  >Update - Work Order Stage (Waiting for blanks) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update - Work Order Stage (Waiting for blanks)</label>
    <loops>
        <name>Loop_all_POs</name>
        <label>Loop all POs</label>
        <locationX>248</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_all_POs_for_WOs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_status_of_PO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Only_Sent_or_Confirmed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_all_POs_1</name>
        <label>Loop all POs</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_all_POs_for_WOs_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Status_of_PO_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_WO_Stage_In_Production</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_all_POs_2</name>
        <label>Loop all POs</label>
        <locationX>1722</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_all_POs_for_WOs_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Status_of_PO_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_WO_stage_not_complete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_POs_for_WOs</name>
        <label>Get all POs for WOs</label>
        <locationX>248</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Status_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PurchaseOrder_LineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_POs_for_WOs_1</name>
        <label>Get all POs for WOs</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_POs_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PurchaseOrder_LineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_POs_for_WOs_2</name>
        <label>Get all POs for WOs</label>
        <locationX>1722</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_POs_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PurchaseOrder_LineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_WO_Stage_In_Production</name>
        <label>Update WO Stage In Production</label>
        <locationX>1106</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>06_-_In_Process-OTHER</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_stage_In_Production_for_Sent</name>
        <label>Update WO stage In Production for Sent</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>06_-_In_Process-OTHER</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_stage_not_complete</name>
        <label>Update WO stage not complete</label>
        <locationX>1722</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>07 - Post Production</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_stage_WFB</name>
        <label>Update WO stage WFB</label>
        <locationX>314</locationX>
        <locationY>1823</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>05_-_Waiting_for_Blanks/Patches/Etc</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>738</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_Sent</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>WO_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PO_Confirmed_On__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PO_Confirmed_By__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PurchaseOrder_LineItem__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>confirmedByandOn</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StatusValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreWorkOrderID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>workOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
