force-app/main/default/flows/WO_Stage_Changes_Notifications_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myRule_11_A1</name>
        <label>WO - 00 On Hold</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Order.Email_alert_when_WO_move_to_00_On_Hold</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Order.Email_alert_when_WO_move_to_00_On_Hold</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_1_A1</name>
        <label>8.1 Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName
    >Order.Email_Alert_When_a_Work_Order_is_moved_to_8_1_On_Shelf_for_Local_Pickup_Delivery</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment
    >Order.Email_Alert_When_a_Work_Order_is_moved_to_8_1_On_Shelf_for_Local_Pickup_Delivery</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_4_A1</name>
        <label>8.2 Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName
    >Order.Email_Alert_When_a_Work_Order_is_moved_to_8_2_On_Shelf_to_ship_to_client</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_9</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment
    >Order.Email_Alert_When_a_Work_Order_is_moved_to_8_2_On_Shelf_to_ship_to_client</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_9_A1</name>
        <label>WO Moved to 09 - Complete Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName
    >Order.Email_Alert_when_WO_move_to_stage_09_Completed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment
    >Order.Email_Alert_when_WO_move_to_stage_09_Completed</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>myRule_1</name>
        <label>If Status is 8.1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_If Status is 8.1</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue
          >08.1_-_On_Shelf_for_Local_Delivery/Pickup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_If Status is 8.1</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_11</name>
        <label>If Status is 00 - On Hold</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel
    >FALSE_If Status is 00 - On Hold</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>99_-_Design Projects</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria
      >true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_If Status is 00 - On Hold</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_4</name>
        <label>If Status is 8.2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_If Status is 8.2</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>08.2 - On Shelf to Ship to Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>TRUE_If Status is 8.2</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_9</name>
        <label>if Status is 09 - Complete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel
    >FALSE_if Status is 09 - Complete</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>09_-_Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria
      >true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_if Status is 09 - Complete</label>
        </rules>
    </decisions>
    <description
  >Migrated from the WO Stage Changes Notifications process using multiple criteria.
Sending notification to WO owner on status change</description>
    <label>WO Stage Changes Notifications_1</label>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
