force-app/main/default/flows/YTD_AccountRollups.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description
    >Aggregate and Rollup the amounts to the Account</description>
        <name>AssignYTD_Aggregate</name>
        <label>Aggregate Totals</label>
        <locationX>176</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>varTotalBalanceDue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Loop_Orders.Balance_Due_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalOrderCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Loop_Orders.Total_Order_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalProfit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Orders.Gross_Profit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalWorkOrderValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Loop_Orders.Invoice_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalWorkOrderPaid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Loop_Orders.Amount_Received__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignYTD_ZeroOut</name>
        <label>Set YTD to Zero</label>
        <locationX>264</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>varTotalBalanceDue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalOrderCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalProfit</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalWorkOrderPaid</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalWorkOrderValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_AccountAggregate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_AnyWorkOrders</name>
        <label>Any Work Orders?</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>AssignYTD_ZeroOut</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Work Orders</defaultConnectorLabel>
        <rules>
            <name>Work_Orders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colAccWorkOrders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Orders</targetReference>
            </connector>
            <label>Work Orders</label>
        </rules>
    </decisions>
    <description>Nightly Batch to Update all YTD numbers on Accounts. 
- Remove accounts that would hit existing 3 VRules</description>
    <formulas>
        <name>YearEndDate</name>
        <dataType>Date</dataType>
        <expression>DATE (Year ( {!$Flow.CurrentDate} ), 12,31 )</expression>
    </formulas>
    <formulas>
        <name>YearStartDate</name>
        <dataType>Date</dataType>
        <expression>DATE (Year ( {!$Flow.CurrentDate} ), 01,01 )</expression>
    </formulas>
    <interviewLabel>YTD AccountRollups {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YTD AccountRollups</label>
    <loops>
        <description
    >Iterate through All valid Work Orders in Collection</description>
        <name>Loop_Orders</name>
        <label>Loop Orders</label>
        <locationX>88</locationX>
        <locationY>516</locationY>
        <collectionReference>colAccWorkOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignYTD_Aggregate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_AccountAggregate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description
    >Retrieves All Work Orders related to this account</description>
        <name>Get_Work_Orders</name>
        <label>Get Work Orders</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_AnyWorkOrders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>YearStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>YearEndDate</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>colAccWorkOrders</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount_Received__c</queriedFields>
        <queriedFields>Invoice_Value__c</queriedFields>
        <queriedFields>Total_Order_Cost__c</queriedFields>
        <queriedFields>Gross_Profit__c</queriedFields>
        <queriedFields>Balance_Due_Formula__c</queriedFields>
        <sortField>Invoice_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_AccountAggregate</name>
        <label>Update Account with Aggregate</label>
        <locationX>176</locationX>
        <locationY>948</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>YTD_Total_COGS__c</field>
            <value>
                <elementReference>varTotalOrderCost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>YTD_Total_Profit__c</field>
            <value>
                <elementReference>varTotalProfit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>YTD_Total_Work_Order_Balance_Due__c</field>
            <value>
                <elementReference>varTotalBalanceDue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>YTD_Total_Work_Order_Value_Paid__c</field>
            <value>
                <elementReference>varTotalWorkOrderPaid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>YTD_Total_Work_Order_Values__c</field>
            <value>
                <elementReference>varTotalWorkOrderValue</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Rollup__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-05-12</startDate>
            <startTime>23:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>All Account Work Orders</description>
        <name>colAccWorkOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>varTotalBalanceDue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTotalOrderCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTotalProfit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTotalWorkOrderPaid</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTotalWorkOrderValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
